.navbar {
    background-color: #27569b !important;
    /* client primary color */
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #a1c0e8 !important;
    /* lighter blue hover */
}

.nav-link.active {
    color: #a1c0e8 !important;
    font-weight: bold;
}

.btn-light {
    color: #27569b;
    /* client color text */
    background-color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-light:hover {
    color: #fff;
    background-color: #a1c0e8;
    /* lighter blue hover */
    transform: translateY(-2px);
}